
.profile-container{
    border-radius : 100dvh;
    overflow: hidden;
    aspect-ratio: 1/1;
    width : 25%;
}

.nanum-gothic-coding-regular {
    font-family: "Nanum Gothic Coding", serif;
    font-weight: 400;
    font-style: normal;
}  
.flex-row,.flex-column{
    display:flex;
}
.flex-row{
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flex-column{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}