:root{
    --document-width : 1280px;
    --theme-grey-color : #808080;
    --theme-border-radius : 12px;
}

body{
    overflow: auto;
}

.router{
    min-width : var(--document-width)
}


.width-hr{
    border : 0;
    width : 100%;
    height : 2px;
    background-color : var(--theme-grey-color);
}

.grey-round-border{
    border-radius : var(--theme-border-radius);
    border : 1px solid var(--theme-grey-color);
}

.profile-container{
    border-radius : 100dvh;
    overflow: hidden;
    height : 192px;
    width : 192px;
}
.profile-image{
    object-fit: cover;
    width : 100%;
    height : 100%;
}
.flex-flow{
    flex : 1;
}

.nanum-gothic-coding-regular {
    font-family: "Nanum Gothic Coding", serif;
    font-weight: 400;
    font-style: normal;
}

.padding{
    padding : 4px;
}
.padding2x{
    padding : 8px;
}
.margin{
    margin : 8px;
}
.margin2x{
    margin : 16px;
}
.half-width{
    width : 50%;
}
.quarter-width{
    width : 25%;
}
.half-height{
    height : 50%;
}
.flex-row,.flex-column{
    display:flex;
}
.flex-row{
    flex-direction: row;
}
.flex-column{
    flex-direction: column;
}
.flex-center{
    align-items: center;
    justify-content: center;
}
.flex-space-bet{
    align-items: center;
    justify-content: space-between;
}